@import "font-awesome.min.css";

.supersonic-navbar-mock {
  text-align: center;
  font-weight: 600;
}

body {
  background-image: url(/images/bg.jpg);
  background-size: cover;
}

.introduction {
  text-align:center;
  color:#fff;
  opacity: 0.94;
}

.introduction h1,
.introduction h2 {
  text-align:center;
}

#navbar-btn {
  position: relative;
}