<div ng-controller="StartController">
    <super-navbar>
        <super-navbar-button class="super-navicon" ng-click="openDrawer()">☰</super-navbar-button>
        <super-navbar-title>
            Menu
        </super-navbar-title>
    </super-navbar>

    <div class="padding">
        <div class="introduction">
            <h2>Find a spotter with</h2>
            <h1>Gymbuddy</h1>

            <p>We believe “work” and “fun” can get along, afterall. So we'll make sure the experience you have with.</p>
        </div>
    </div>

</div>